{% extends "bootstrap/base.html" %} 
{% block title %}Home Page{% endblock %} 
{%block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %} 
{% block content %}
<h1>Online Store</h1>
<h2>Products</h2>
<ul>
{% for product in products %}
<li><a href="{{ url_for('.productDetails', product_id=product.product_id)}}">{{ product.product_title }}</a> - {{product.category.category_name}}</li>
{% endfor %} 
</ul>
<a href="{{ url_for('.newProduct') }}" class="btn btn-outline-primary" role="button">New Product</a>
<a href="{{ url_for('.shoppingBasket') }}" class="btn btn-outline-primary" role="button">Shopping Basket</a>
<a href="{{ url_for('.newcatagory') }}" class="btn btn-outline-primary" role="button">New Category</a>
{% endblock %}
